@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url(./SF-Pro-Display-Regular.woff) format("woff"),
    url(./SF-Pro-Display-Regular.woff2) format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%);
  margin: auto;
}
/* MAIN CLASS */
.container {
  margin: auto;
  max-width: 1200px;
}
.input-form {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 0px 8px 35px;
}
.button {
  font-family: "SF-Pro-Display-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
}
.title {
  color: #302c34;
  font-size: 39px;
  font-weight: 700;
}
.subtitle {
  color: #302c34;
  font-size: 24px;
  font-weight: 400;
}
/* MAIN CLASS */

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 44px 0px 0px 0px;
}
.header__input {
  width: 690px;
  background: url("../img/home.svg") no-repeat 10px center;
}
/* .header__buttons {
  padding: 0px 10px 0px 0px;
} */
.button_blue {
  border-radius: 2px;
  background: #1890ff;
  border: none;
  color: #fff;
}
.button_white {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #595959;
}
.user {
  vertical-align: middle;
}
.shopping-cart {
  vertical-align: middle;
}
/* HEADER */

/* PROMO */
.promo {
  background: url("../img/promo-img.png") right top / 50% no-repeat, #fff1b8;
  border-radius: 10px;
  margin: 40px 0px 0px 0px;
  padding: 68px 0px 68px 71px;
}
.promo__content {
  max-width: 538px;
}
.promo__title {
  margin: 0px 0px 15px 0px;
}
/* PROMO */

/* RESTAURANTS */
.restaurants {
  margin: 56px 0px 0px 0px;
}
.restaurants__headding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__title {
  font-size: 36px;
  font-weight: 700;
}
.restaurants__input {
  width: 300px;
  background: url("../img/search.svg") no-repeat 10px center;
}

/* CARDS */
.restaurants__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 44px 0px 0px 0px;
}
.restaurants__card {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  margin: 0px 0px 30px 0px;
}
.restaurants__content {
  padding: 20px 24px 35px 24px;
}
.restaurants__card-headding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.restaurants__time-to-delivery {
  color: #fff;
  font-family: "SF-Pro-Display-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 2px;
  background: #262626;
  padding: 2px 8px 2px 8px;
}
.restaurants__info {
  display: flex;
  margin: 10px 0px 0px 0px;
}
.restaurants__rating {
  margin: 0px 26px 0px 0px;
}
.restaurants__rating-text {
  color: #ffc107;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.restaurants__price {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.restaurants__price::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8c8c8c;
  margin: 0px 10px 0px 10px;
}
.restaurants__food {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
/* CARDS */

/* RESTUARANTS */

/* FOOTER */
.footer {
  background: #fff;
  padding: 68px 0px 68px 0px;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  align-items: center;
}
.footer__right {

}
.footer__menu {
  margin: 0px 0px 0px 36px;
}
.footer__link {
  text-decoration: none;
  color: #595959;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 15px 0px 0px;
}
.footer__link:last-child {
  margin: 0;
}
.footer__social {
}
.footer__item {
  margin: 0px 21px 0px 0px;
}
.footer__item:last-child {
  margin: 0;
}
/* FOOTER */
